.env
.git
Dockerfile
.dockerignore
.gitignore
README.md
frontend/.angular/cache
frontend/.vscode
frontend/node_modules
frontend/package-lock.json
frontend/.editorconfig
frontend/.gitignore
frontend/playwright-report/
frontend/test-results/
backend/.gitignore
migrations/