<div class="meme-card">
  <div class="meme-image" (click)="viewMeme()">
    <img [src]="'/data/uploads/' + meme.imagePath" [alt]="meme.tag">
  </div>

  <div class="meme-info">
    <h3 class="meme-title">{{ meme.tag }}</h3>

    <div class="meme-meta">
      <span class="upload-date">
        {{ meme.createdAt | date:'dd/MM/yyyy' }}
      </span>

      @if (showActions) {
      <div class="meme-actions">
        <app-upvote-downvote 
            [memeId]="meme.id" 
            [upvotes]="meme.upvotes"
            [downvotes]="meme.downvotes">
          </app-upvote-downvote>
      </div>
      }
    </div>
  </div>
</div>