<div class="upload-container">
  <h1 class="page-title">Carica un nuovo Meme</h1>

  <div class="upload-card">
    <form [formGroup]="uploadForm" (ngSubmit)="uploadMeme()" class="upload-form">
      <div class="form-group">
        <label for="image">Immagine</label>
        <div class="image-upload-area" [class.has-preview]="imagePreview()">
          @if (imagePreview()) {
          <div class="image-preview">
            <img [src]="imagePreview()" alt="Anteprima">
            <br />
            <button type="button" class="change-image-btn" (click)="fileInput.click()">
              Cambia immagine
            </button>
          </div>
          }

          <div class="upload-controls">
            <input type="file" id="image" (change)="onFileSelected($event)" accept="image/jpeg, image/png, image/gif"
              class="file-input" #fileInput required>
            <button type="button" class="select-file-btn" (click)="fileInput.click()">
              Seleziona file
            </button>
            <p class="file-hint">Formati supportati: JPG, PNG, GIF (max 10 MB)</p>
          </div>
        </div>
        @if (uploadForm.get('image')?.invalid && uploadForm.get('image')?.touched) {
        <div class="error-message">
          @if (uploadForm.get('image')?.hasError('required')) {
          <span>L'immagine è obbligatoria.</span>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="tag">Tag *</label>
        <input type="text" id="tag" formControlName="tag" placeholder="Es: funny, cats, gaming..." class="tag-input">
        @if (uploadForm.get('tag')?.invalid && uploadForm.get('tag')?.touched) {
        <div class="error-message">
          @if (uploadForm.get('tag')?.hasError('required')) {
          <span>Il tag è obbligatorio</span>
          }
        </div>
        }
      </div>

      @if (uploadError()) {
      <div class="error-alert">
        {{ uploadError() }}
      </div>
      }

      <div class="form-actions">
        <button type="submit" class="submit-btn" [disabled]="isSubmitting()">
          @if (!isSubmitting()) {
          <span>Pubblica Meme</span>
          } @else {
          <span>Caricamento in corso...</span>
          }
        </button>
      </div>
    </form>
  </div>
</div>